@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1a1a1a;
    color: #fefefe;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title {
    font-size: 32px;
}

.viewport {
    display: flex;
}

#grid-container {
    width: 400px;
    height: 400px;
}

#grid {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
}

.grid-row {
    display: flex;
    flex-direction: row;
}

.grid-square {
    flex-shrink: 1;
    flex-grow: 1;
    background-color: #fefefe;
    aspect-ratio: 1 / 1;
    width: 25px;
}

#create-grid-btn {
    border: 3px solid #1a1a1a;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    width: 170px;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
    background-color: #9ae071;
}